<p>These are <a href="#"><%= @contacts.length %></a> contacts</p>

<div>
   <% @contacts.each do |contact| %>
   <section> <a href=/contacts/<%= contact.id %>> <%= contact.full_name %> </a>( <%= contact.email %> ) 

      <div class="link">
        <a href="">Edit</a> |
        <a href="">Delete</a>
      </div>

    </section>
  <% end %>
</a>
</div>
